  .text-zone {
    width: 100%;
    // transform: translateY(-50%);
    // -webkit-transform: translateY(-50%);
    // -moz-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // -o-transform: translateY(-50%);
    padding: 11rem;
    padding-bottom: 0;

  #home-h1 {
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: normal;
    margin-bottom: 40px;

    &::before,
    &::after {
      font-family: "La Belle Aurore";
      color: var(--main-orange);
      font-size: 18px;
      position: absolute;
      opacity: 0.6;
    }

    &::before {
      content: "<h1>";
      top: 100px;
      left: 160px;
    }

    &::after {
      content: "</h1>";
      left: 160px;
      top:350px;
      animation: fadeIn 1s 1.5s backwards;
      -webkit-animation: fadeIn 1s 1.5s backwards;
    }

    img {
      width: 32px;
      margin-left: 13px;
      margin-right: 0px;
      animation: rotateIn 1s linear both;
      -webkit-animation: rotateIn 1s linear both;
    }
  }

  .contact-button {
    text-decoration: none;
    color: var(--main-orange);
    border: 1px solid var(--main-orange);
    padding: 10px 20px;
    font-size: 13px;
    letter-spacing: 4px;
    animation: fadeIn 1s 1.5s backwards;
    // position: absolute;
    // bottom: -70px;
    display: block;
    width: fit-content;
    margin-top: 70px;

    &:hover {
      color: #333;
      background-color: var(--main-orange);
    }
  }
}

  .img-container{
      padding-right: 4rem;
    img{
      width: 550px;
    }
  }
