:root {
  --background-dark: #060606;
  --main-orange: #ff7b00;
  --main-light: #EFE2C8;
}

html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.5 "Helvetica Neue", sans-serif;
  display: block;
  color: #fff;
  height: 100vh;
  background: var(--background-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}